.profile-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.profile-card {
    width: 350px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
    text-align: center;
}

.profile-image {
    font-size: 80px;
    margin-bottom: 15px;
}

.details p {
    font-size: 18px;
    margin: 15px 0;
}